*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    font-family: inherit;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    color: #fff;
    margin: 0;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 5rem;
    color: #f07e1b;
}

.intro {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 80%;
}

h1 {
    text-align: center;
}

.buttons {
    display: flex;
    gap: 4em;
    padding: 3em;
    justify-content: center;
}

button {
    width: 11em;
    height: 11em;
    border-radius: 20px;
}

button:hover {
    cursor: pointer;
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 4em;
}

div.result {
    text-align: center;
    padding: 2em 0;
}

.prompt {
    font-size: 1.5rem;
    padding-top: 1em;
}

.modal {
    padding: 0.5em 1.25em;
    max-width: 50ch;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.5;
    background-color: #1b2dce;
    color: #fff;
    border: none;
}

.reload:hover {
    cursor: pointer;
}